body {
  background: #333;
  color: white;
}

hr {
  background: rgba(255, 255, 255, 0.1);
}

#list-page {
  padding: 50px;
}

table,
table th,
table td,
table.dataTable {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
  background: #333;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dtfh-floatingparent.dtfh-floatingparenthead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

table tr {
  background: #333;
}

th,
td {
  color: white;
}

.img-flag {
  height: 20px;
  margin-top: -6px;
}

#manga-image {
  text-align: center;
}

.modal-content {
  background: #333;
  color: white;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

button span[aria-hidden='true'] {
  color: white;
}
