body{
	margin-top: 60px;
	background-color: #e8dac3;
	background-size: cover;
	background-attachment: fixed;
	font-size: 15px;
}

#errortext {
	color: red;
}

#homepage {
	width: 50%;
}

.inputtable {
    background-color: transparent !important;
    color: #5b4421 !important;
} 

.inputtable:focus{
	background-color: white !important;
	color: black !important;
}

#input1form{
	margin:auto;
	width: 500px;
	box-shadow: 4px 4px 10px rgb(208, 194, 175);
}

#superheader {
	position: fixed;
	width:100%;
	top:0;
	z-index: 10;
	box-shadow: 0px 3px 0px rgba(69,61,63,0.5);

	background-color: #453d3f !important;
	color: #f7f2ea !important;
}

#titleheader {
	color: #5b4421 !important;
}

#titleheader2 {
	color: #d70206 !important;
}

#titleheader3 {
	color: #f4c63d !important;
}

#todaytext {
	background-color: rgba(215, 2, 6,0.5);
	color: white;
}

#todaytext2 {
	box-shadow: inset 5px 0 5px -5px rgba(215, 2, 6,1), 
				inset -5px 0 5px -5px rgba(215, 2, 6,1);
}

#weekendtext {
	color: rgb(215, 2, 6);
	background-color: #f4c63d;
}

table{
	/*background-color:#ded0ba !important;*/
	background-color: transparent !important;
	color: #5b4421 !important;
}

#tableheader{	
	background-color: #f4c63d;	
	color: #5b4421;
	/*background-color: #453d3f;	*/
	/*color: #f7f2ea;*/
}

#tablefooter{
	background-color: #453d3f !important;	
	color: #f7f2ea;
}

.fixed{
	top:40px;
	position:fixed;
	width:50% !important;
	display:none;
	border:none;
}

.tablecontainer{
	width:100%;
  	margin:auto;
}

.modalform {
	background-color: #e8dac3 !important;
}


#oldprojectcheckbox, #olddeptcheckbox {
	display: block;
	height: 40px;
	width: 160px;
	padding: 10px;
	background-color: #f4c63d;	
	color: #5b4421;
	position:fixed; 
	right:5%; 
	bottom:5%;
}

.tooltip {
    position: relative;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 7px;
    font-size: 14px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 120%;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.centeroption{
    text-align-last:center;
    /*padding-right: 29px;*/
    direction: rtl;
}