@import 'tailwindcss';

@theme {
	--color-primary: #428375;
	--color-secondary: #42837580;
}

@layer base {
	body {
		background-color: #303030;
		color: #e9e8e8;
	}

	hr {
		@apply bg-secondary h-px w-full border-0;
	}

	a {
		@apply hover:text-primary transition-all duration-500;
	}

	li::marker {
		@apply text-primary;
	}
}

@layer utilities {
	.hover {
		@apply opacity-50 transition-all duration-500 hover:opacity-100;
	}
}
